@{
    ViewBag.Title = "Potwierdzenie adresu e-mail";
    Layout = "~/Views/Shared/_UnathorizeLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu e-mail. @Html.ActionLink("Naciśnij tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>