
@{
    ViewBag.Title = "Contact";
    Layout = (User.Identity.IsAuthenticated ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_UnathorizeLayout.cshtml");
}
<div class="row">
    <div class="col-md-12 background-container w-100">

        <div class="header-text">
            Kontakt
        </div>
        <hr />


    </div>
</div>

