
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_UnathorizeLayout.cshtml";
}

<div class="background-container">
    <div class="header-text">
        Drogi Kliencie!
    </div>
    <div class="info-text">
        Nasz warsztat samochody jest dostępny dla Ciebie tutaj. 
        Możesz umówić się na wizytę w konkretnym terminie, śledzić postępy prac i wiele więcej.
    </div>
</div>

<div class="grids-panel">
    <div class="grid-item">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <div class="grid-info-text">
            <span>aby cokolwiek zrobić zarejestruj się</span>
        </div>
        <button class="grid-button">
            <span>Umów wizytę</span>
        </button>

    </div>

    <div class="grid-item">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <div class="grid-info-text">
            <span>aby cokolwiek zrobić zarejestruj się</span>
        </div>
        <button class="grid-button">
            <span>Umów wizytę</span>
        </button>
    </div>

    <div class="grid-item">
        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
        <div class="grid-info-text">
            <span>aby cokolwiek zrobić zarejestruj się</span>
        </div>
        <button class="grid-button">
            <span>Umów wizytę</span>
        </button>
    </div>
</div>