@model string

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Przerwano żądanie</h1>
<h2 class="text-danger">W trakcie przetwarzania żadania wystąpił błąd</h2>

<h5>@string.Format("Identyfikator błędu Id {0}", Model)</h5>